.volunteers-page{
    width:calc(100vw - 330px);
    margin-left: 10px;
}
.volunteers-page .resource1 {
    margin-bottom: 22px;
    padding: 10px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(6px);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;

}

.bottom-box {
    display: flex;
    justify-content: space-between;
    width:100%;
    gap: 20px;
    margin-top: 20px;

}

.volunteers-page .bottom-box .shelter-box {
    width: 100%;
    height: 320px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 20px;
    box-shadow:
    0 8px 24px rgba(0,0,0,0.45),
    inset 0 0 0 1px rgba(255,255,255,0.08);
}

.bottom-box .resource-box {
    width: 650px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(8px);
    box-shadow:
    0 8px 24px rgba(0,0,0,0.4),
    inset 0 0 0 1px rgba(255,255,255,0.08);
    display: flex;
    flex-direction: column;

}

.bottom-box .resource-box .resource-heading2 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 600;
    color:white;
    margin-left: 30px;
    padding:8px 5px 0px 0px;
}