.middle-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 10px;
    width: calc(100vw - 350px);
    height: fit-content;
    margin-left: 20px;
    backdrop-filter: blur(2px); 

}

.middle-box .resource-heading {
    width: 100%;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 10px 10px 0px 0px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}

.middle-box .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 0px 20px 20px 20px;
    gap: 20px;

}

.bottom-box{
    display:flex;
    justify-content: space-between;
    width:calc(100vw - 330px);
    margin-left: 20px;
    gap:20px;
    margin-top:20px;

}
.bottom-box .shelter-box{
    width:100%;
    height:300px;
    margin-right:22px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    flex:1;
}

.bottom-box .shelter-box .shelter-heading{
    width: 100%;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 10px 10px 0px 0px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}


.bottom-box .resource-box{
    width:650px;
    height:300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;

}

.bottom-box .resource-box .resource-heading2{
    width: 100%;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 10px 10px 0px 0px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}



