.container-resource-map {
    height: 320px;
    width: 100%;
    flex: 1.3;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-resource-map .map-infobar {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.container-resource-map .map-infobar .map-infobar-button {
    background-color: #e0ba21;
    border: none;
    color: rgb(0, 0, 0);
    padding: 6px 14px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family: "Inter", system-ui, sans-serif;
    font-weight: 500;
    border-radius: 20px;
    width: 150px
}

.container-resource-map .map-infobar .map-infobar-button:hover {
    cursor: pointer;
}