.resource-items{
    display: flex; 
    width:280px;
    height:120px;
    gap:10px;
    justify-content: flex-start;
    border-radius:10px;
    padding:10px;
    color:white;
    background-color: rgba(255,255,255,0.4);
    flex-shrink: 0;
    font-family: "Inter", system-ui, sans-serif;
    backdrop-filter: blur(1px);
    
}
.resource-items .resource-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width:55px;
  height:55px;
  border-radius:10px;
  font-size:28px;
  color:rgba(255,255,255,0.9);
  backdrop-filter: blur(5px);
  background-color: rgba(255,255,255,0.2);
  box-shadow:
    0 6px 18px rgba(214, 228, 220, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  margin-top: 5px;
}

.resource-items .resource-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.resource-items .resource-info .resource-name{
  font-size: 18px;
  font-weight:400;
}

.resource-items .resource-info .resource-quantity .resource-qty{
  font-size:25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.resource-items .resource-info .resource-location{
  font-size: 12px;
  opacity: 0.85;
}

.resource-items .resource-info .resource-last-updated{
  font-size: 12px;
  opacity: 0.85;
}

.theme-green {
  background: linear-gradient(
    135deg,
    rgba(46, 204, 113, 0.65),
    rgba(46, 204, 113, 0.25),
    rgba(46, 204, 113, 0)
  );
}

.theme-blue {
  background: linear-gradient(
    135deg,
    rgba(52, 152, 219, 0.65),
    rgba(52, 152, 219, 0.25),
    rgba(52, 152, 219, 0)
  );
}

.theme-orange {
  background: linear-gradient(
    135deg,
    rgba(243, 156, 18, 0.65),
    rgba(243, 156, 18, 0.25),
    rgba(243, 156, 18, 0)
  );
}

.theme-purple {
  background: linear-gradient(
    135deg,
    rgba(155, 89, 182, 0.65),
    rgba(155, 89, 182, 0.25),
    rgba(155, 89, 182, 0)
  );
}

.theme-red {
  background: linear-gradient(
    135deg,
    rgba(231, 76, 60, 0.65),
    rgba(231, 76, 60, 0.25),
    rgba(231, 76, 60, 0)
  );
}

