.container-resources {
    display: flex;
    gap: 20px;
}
.topResourceInventory{
    width: calc(100vw - 350px);
    flex-wrap:nowrap;
    overflow-x: auto; 
    overflow-y: hidden;
    padding:5px 5px;
}

.bottomResourceInventory{
    width:100%;
    height:300px;
    padding:15px;
    flex-wrap: wrap;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}
.container-resources::-webkit-scrollbar{
    display: none;
}

