.container-volunteer-main {
    width: 500px;
    height:345px;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter:blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    flex: 1;
}