/* global.css */
body {
  margin: 0;
  padding:0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-image: url("../../public/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


