.profile-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.profile-container .profile-menu .profile-image {
    object-fit: cover;
}