.searchbar-wrapper {
    width: 300px;
    height: 40px;
    background-color: #202025;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;
    color: #eee;
    border: none;
    outline: none;
    transition: background 0.3s ease, box-shadow 0.3s ease;

    box-shadow:
    0 0 8px rgba(66, 153, 225, 0.2),
    0 0 14px rgba(66, 153, 225, 0.1);
}

.searchbar-wrapper .bi {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

.searchbar-wrapper .input-box:focus {
    outline: none;
    border: none;
}

.searchbar-wrapper .bi:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}