.sidebar .sidebar-content .sidebar-item {
  width:265px;
  padding:12px 16px;
  margin-bottom: 8px;
  border-radius: 6px;
  color:rgb(205, 198, 198);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  gap:15px;
  justify-content: flex-start;
  font-weight: 500;
}



.sidebar .sidebar-content .sidebar-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.4),
    0 0 12px rgba(228, 216, 216, 0.4),
    0 0 20px rgba(113, 107, 107, 0.2);
    font-size: 17px;
    transition: font-size 0.3s ease-in-out;
}

