.container-topbar{
    height:70px;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.container-topbar .topbar-left{
    color:#FFFFFF;
    font-size:25px;
    font-family: "Inter", system-ui, sans-serif;
    font-weight:400;
}

.container-topbar .topbar-right{
    display:flex;
    gap:20px;
}