.device-info-card{
    display: flex; 
    width:280px;
    height:120px;
    gap:10px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius:10px;
    padding:10px;
    color:white;
    background-color: rgba(255,255,255,0.4);
    flex-shrink: 0;
    font-family: "Inter", system-ui, sans-serif;
    backdrop-filter: blur(1px);
    
}
.device-info-card .device-info-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  box-shadow:
    0 6px 18px rgba(214, 228, 220, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  margin-top: 5px;
}

.device-icon {
  width: 28px;
  height: 28px;
  color: rgba(255, 255, 255, 0.9);
  stroke-width: 1.8;
}

.device-info-card .device-info-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.device-info-card .device-info-info .device-info-title{
  font-size: 18px;
  font-weight:400;
}

.device-info-card .device-info-info .device-info-value{
  font-size:25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.device-info-card .device-info-info .device-info-sub{
  font-size: 12px;
  opacity: 0.85;
}


.theme2-green {
  background: linear-gradient(
    135deg,
    rgba(46, 204, 113, 0.65),
    rgba(46, 204, 113, 0.25),
    rgba(46, 204, 113, 0)
  );
}

.theme2-blue {
  background: linear-gradient(
    135deg,
    rgba(52, 152, 219, 0.65),
    rgba(52, 152, 219, 0.25),
    rgba(52, 152, 219, 0)
  );
}

.theme2-orange {
  background: linear-gradient(
    135deg,
    rgba(243, 156, 18, 0.65),
    rgba(243, 156, 18, 0.25),
    rgba(243, 156, 18, 0)
  );
}

.theme2-red {
  background: linear-gradient(
    135deg,
    rgba(231, 76, 60, 0.65),
    rgba(231, 76, 60, 0.25),
    rgba(231, 76, 60, 0)
  );
}

