.container-onlineUser {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px 30px;
    overflow-y: auto;
    scrollbar-width: none;
}

.container-onlineUser .online-users {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 600;
    color:white;
}